body {
  font-family: "Georgia", serif;
  background: #ffffff;
  color: #003300;
  margin: 0;
  padding: 0;
}
header {
  background-color: #006400;
  color: white;
  padding: 1em;
  text-align: center;
}
form {
  max-width: 600px;
  margin: auto;
  padding: 1em;
}
label {
  display: block;
  margin-top: 1em;
}
select, input {
  width: 100%;
  padding: 0.5em;
  margin-top: 0.2em;
}
button {
  background-color: #006400;
  color: white;
  padding: 0.7em;
  border: none;
  cursor: pointer;
  margin-top: 1em;
}
table {
  width: 90%;
  margin: 2em auto;
  border-collapse: collapse;
}
th, td {
  padding: 0.7em;
  border: 1px solid #ccc;
  text-align: center;
}
.under-par {
  color: red;
}
.even-par {
  color: green;
}
.over-par {
  color: black;
}
